    <nav class="navbar navbar-expand-lg navbar-custom">

        <a class="navbar-brand" href="/">Sep6 Project</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="" role="button" ><i class="fa fa-bars" aria-hidden="true" style="color:#e6e6ff"></i></span>
        </button>

         <div class="collapse navbar-collapse justify-content-center" id="navbarCustom">
             <ul class="navbar-nav">
	         <li class="nav-item active">
                     <a class="nav-link" href="/">Query 1 <span class="sr-only">(current)</span></a>
		</li>
		<li class="nav-item">
		    <a class="nav-link" href="/part2">Query 2</a>
		</li>
        <li class="nav-item">
		    <a class="nav-link" href="/part2b">Query 2b</a>
		</li>
        <li class="nav-item">
		    <a class="nav-link" href="/part3">Query 3</a>
		</li>
        <li class="nav-item">
		    <a class="nav-link" href="/part4">Query 4</a>
		</li>
        <li class="nav-item">
		    <a class="nav-link" href="/part4b">Query 4b</a>
		</li>
        <li class="nav-item">
		    <a class="nav-link" href="/part5">Query 5</a>
		</li>
        <li class="nav-item">
		    <a class="nav-link" href="/part6">Query 6</a>
		</li>
        <li class="nav-item">
		    <a class="nav-link" href="/part7">Query 7</a>
		</li>
        <li class="nav-item">
		    <a class="nav-link" href="/part8">Query 8</a>
		</li>
        <li class="nav-item">
		    <a class="nav-link" href="/part9">Query 9</a>
		</li>
        <li class="nav-item">
		    <a class="nav-link" href="/part10">Query 10</a>
		</li>
        <li class="nav-item">
		    <a class="nav-link" href="/part11">Query 11</a>
		</li>
        <li class="nav-item">
		    <a class="nav-link" href="/part12">Query 12</a>
		</li>
        <li class="nav-item">
		    <a class="nav-link" href="/part13">Query 13</a>
		</li>
	    </ul>
        </div>
    </nav>