{% include 'layout.html' %}

<center>
    
    <table border =2 >
        <thead style="font-weight: bold;">
        <tr>
            <td>Mean Departure Delay</td>
            <td>Mean Arrival Delay</td>
            <td>Origin</td>
        </tr>
        </thead>
        <tbody style="text-align-last: center;">
        {%for flight in flightDetails %}
        <tr>
            <td>{{flight[0]}}</td>
            <td>{{flight[1]}}</td>
            <td>{{flight[2]}}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</center>